
.firstContainer {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: url("../../assetsMobile/imagesMobile/igardeHomeFirstBackground01.jpg");
    background-size: 100vw 100vh;
}
.logoContainer{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
}
.logoTransparent{
    width: 100vw;
    margin-top: 10vh;
}
.contentContainer{
    display: flex;
    width: 100vw;
    padding-top: 10vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.callButtonContainer{
    width: 15vw;
    height: 15vw;
    margin-left: var(--main-padding);
    position: fixed;
    left: 0;
    bottom: 2vh;
    z-index: 3;
}
.tester{
    background: red;
    height: 10vh;
    width: 100vw;
}
.footer{
    width: 100vw;
    height: 100vh;
    background-image: url("../../assetsMobile/imagesMobile/igardeHomeFirstBackground01.jpg");
    background-size: 100vw 100vh;
}
.footerContainer{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    align-items: center;
}
.footerTitle{
    color: #fff;
    text-align: center;
    margin-top: 10vh;
}
.footerStory{
    color: #ffffff;
    padding-right: var(--main-padding);
    padding-left: var(--main-padding);
    text-align:justify

}
.footerSocialMenu{
    margin-top: 10vh;
    width: 90vw;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    padding-right: var(--main-padding);
    padding-left: var(--main-padding);

}

.socialIconMenu{
    width: 15vw;
    height: 15vw;
}
.poweredBy{
    width: 100vw;
    height: 5vh;
    background-color: black;
    position: relative;
    display: flex;
    bottom: 0;
    justify-content: center;
    align-items: center;
    border-top: black solid 2px;
}
.poweredByText{
    color: white;
    text-decoration: none;
}
.callActionPopUP{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    z-index: 3;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.callPopUp{
    width: 80vw;
    height: 40vw;
    background-color: white;
    border-radius: 2vw;
}
.popUpTextHolder{
    display: flex;
    align-items: center;
    justify-content: center;
}
.exitPopUp{
    height: 5vw;
    padding-right: 3vw;
}
.buttonsHolder{
    width: 80vw;
    height: 20vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.callToButton{
    width: 39vw;

    display: flex;
    align-items: center;
    justify-content: center;
}
.separatorCallButton{
    height: 5vw;
    width: 1px;
    border-right: 1px solid black ;

}
.whatUpButton{
    width: 40vw;
    height: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.whatUpButton > a {
    color: darkgreen;
    text-decoration: none;
}
.callToButton > a{
    color: green;
    text-decoration: none;
}









