
.firstContainer {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.firstContainerBackground {
    width: 100vw;
    height: 100vh;
}

.logoContainer {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
}

.logoTransparent {
    width: 100vw;
    margin-top: 10vh;
}

.contentContainer {
    display: flex;
    width: 100vw;
    padding-top: 10vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.callButtonContainer {
    width: 17vw;
    height: 17vw;
    margin-left: var(--main-padding);
    position: fixed;
    left: 4vh;
    bottom: 13vh;
    z-index: 3;
    background-color: #87d774;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tester {
    background: red;
    height: 10vh;
    width: 100vw;
}

.footer {
    width: 100vw;
    height: 100vh;
    background-image: url("../../assetsMobile/imagesMobile/igardeHomeFirstBackground01.jpg");
    background-size: 100vw 100vh;
}

.footerContainer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
}



.footerStory {
    color: #ffffff;
    padding-right: var(--main-padding);
    padding-left: var(--main-padding);
    text-align: justify

}

.footerSocialMenu {
    margin-top: 10vh;
    width: 90vw;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    padding-right: var(--main-padding);
    padding-left: var(--main-padding);

}

.socialIconMenu {
    width: 15vw;
    height: 15vw;
}

.poweredBy {
    width: 100vw;
    height: 5vh;
    background-color: black;
    position: relative;
    display: flex;
    bottom: 0;
    justify-content: center;
    align-items: center;
    border-top: black solid 2px;
}

.poweredByText {
    color: white;
    text-decoration: none;
}

.callActionPopUP {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.callPopUp {
    width: 75vw;
    height: 40vw;
    background-color: white;
    border-radius: 2vw;
}

.popUpTextHolder {
    height: 20vw;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popUpTextHolder > p {
    font-size: 16px;
    text-align: center;
}


.exitPopUp {
    align-items: center;
    height: 10vw;
    padding-right: 3vw;
    display: flex;
}

.buttonsHolder {
    width: 75vw;
    height: 10vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top: 0.5px solid #c0c0c0;
}

.callToButton {
    width: 39vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

.separatorCallButton {
    height: 10vw;
    width: 1px;
    border-right: 0.5px solid #c0c0c0;

}

.whatUpButton {
    width: 39vw;
    height: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.whatUpButton > a {
    color: darkgreen;
    text-decoration: none;
    width: 40vw;
    height: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.callToButton > a {
    color: #efc368;
    text-decoration: none;
    font-weight: bold;
    width: 39vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homePageAnimation {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price-text {
    font-size: 20px;
    font-weight: 500 !important;
}

.buy-now-btn {
    box-shadow: 0px 2px 14px #fcf1d0;
    color: #fff;
    font-size: 18px;
    padding: 15px 40px;
    /* background-color: burlywood; */
    font-weight: 500;
    border-radius: 5px;
    background-image: linear-gradient(90deg, #f8d487, #eec367);
    border: none;
    float: left;
    z-index: 30 !important;
}

.display-flex {
    display: flex
}

.display-inline-box {
    display: -webkit-box !important
}

.display-block {
    display: flow-root
}

.w-50pr {
    width: 50%
}

.mr-2vh {
    margin-right: 2vh
}

.left-text {
    float: left;
    padding-left: 4vw;
}

.ptb-5 {
    padding: 5px 0px;
}

.ptb-30 {
    padding: 30px 0px;
}

.m-0 {
    margin: 0 !important
}

.mt-5 {
    margin-top: 5px !important
}

.mt-8 {
    margin-top: 8px !important
}

.mt-20 {
    margin-top: 20px !important
}

.mb-5 {
    margin-bottom: 5px !important
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.pl-2vh {
    padding-left: 2vh
}

.pr-2vh {
    padding-right: 2vh
}

.fs-16 {
    font-size: 16px
}

.fs-18 {
    font-size: 18px
}



.lh {
    line-height: 1.5
}

.sub-t-c {
    color: #939393
}

.hr-c {
    border-top: 1px solid #f6f5f6
}

.slick-dots li.slick-active button:before {
    border: 1px solid;
    border-radius: 12px;
    font-size: 10px;
    line-height: 15px;
    position: absolute;
    top: 0;
    left: 0;
    width: 14px;
    height: 14px;
    content: '•';
    text-align: center;
    opacity: 1;
    color: #efc368 !important;
    margin-top: 1px;
}

.slick-dots li button:before {
    font-size: 10px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: 1;
    color: #d5d5d6 !important;
}

.slick-dots {
    z-index: 2 !important;
    position: absolute !important;
    /* top: 315px !important; */
    left: 15px !important;
    bottom: 15px;
    text-align: -webkit-auto;
}

.slick-dots li {
    position: relative !important;
    display: inline-block !important;
    width: 20px !important;
    height: 20px !important;
    margin: 0px 0px !important;
    padding: 0 !important;
    cursor: pointer !important;
}

div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}

.p-fixed {
    position: fixed
}

.foot-text {
    font-size: 14px;
    color: #aeb7b8;
}

.mb-50 {
    margin-bottom: 150px !important;
}

.w-50pr {
    width: 50%
}

.m-0-10 {
    margin: 0px 10px;
}

a {
    text-decoration: none;
}

.productsContents{
    display: flex;
    flex-wrap: wrap;
}
.slick-slide :focus  {
     outline: none !important;
}
.bottomIconsContainer {
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: row-reverse !important;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    margin: 8vh 0;
}
.bottomIconsImage{
    width: 25vw;
    height: 25vw;
    opacity: 0.3;
}
.bottomIconsImageContainer{
    width: 25vw;
    height: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.textComInfo{
        padding: 10px;
}
.textComInfo01{
    padding: 10px;
}

.title01{
    font-weight: bold;
}
.iconTitle{
    text-align: center;
}
.forUServiceTextContainer{
    padding: 10px;
    height: 20vh;
    display: flex;
    align-items: center;
}

.mobileLogoContainer {
    width: 42px;
    height: 56px;
    position: absolute;
    top: 10px;
    left: 10px;
}
.mobileLogo{
    width: 42px;
    height: 56px;
}

.linkCallToAction{
    background-color: #333333;
    width: 100%;
    height: 100%;
}

/*font*/
.lightGreyColor {
    color: #c0c0c0;
}

.textComInfoPargraphOrderOnline{
    text-align: justify;
}
.greyFont {
    color: #353535 !important;
}
.serviceTitle{
    font-size: 25px;
    font-family: 'David Libre', serif;
}
.whatspIconCircle{
    border-radius: 10vw;
    box-shadow: 1px 1px 2px 0px grey;
    background-color: #86D774;
    margin-right: 3vw;
    padding: 2px;
}








