body{
    background-color: #fff;
}
.slideHolder{
    height: 100vw;
}
.Slider{
    height: 100vw;
    box-shadow: 2px 1px 10px 2px #8c8c8c;
}
.slick-dots{
    z-index: 2;
    position: absolute;
    top: 40vh;
}
.slick-dots li button:before {
    color: red ;
}
.slick-dots li.slick-active button:before {
    color: blue;
}
.sliderImage{
    width: 100vw;
    height: 100vw;
}
.buquetImage{
    width: 60vw;
    height: 60vw;
    border-radius: 5px;
    z-index: 1;
    box-shadow: 1px 1px 1px  #8c8c8c;
}
.productHolder{
    width:60vw !important;
    height: calc(70vw + 2vh);
    border-radius: 5px;
    z-index: 0;
    display: flex;
    display: flex;
    align-items: center !important;
}
.productText{
    width: 40vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
   justify-content: space-evenly;
    text-align: right;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    margin-left: 9vw;
    z-index: 2;
    border-radius: 5px;
    padding-right: 10px;
    border: 1px solid lightgray;
    box-shadow: 1px 1px 1px #8c8c8c;
    margin-bottom: 5px;
}
.buquetNameText{
    padding: 0;
    margin: 0;
}
.buquetPriceText{
    padding: 0;
    margin: 0;
    color: #fead00;
    direction: rtl;
}
.arrowPointer{
    width: 5vh;
    height: 5vh;
    background-color: #6f6f6f;
    opacity: 0.5;
    position: absolute;
    bottom: 3vh;
    margin-left: 2vh;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.titleOboveTheFloerSlider{
    padding-right: 5vw;
    font-weight: lighter;
}
.footerMobile{
    padding-top: 10vh ;
    direction: ltr;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.companySmallTitle{
    color: #fead00;
}
.productSlider > .slick-list {
    margin-left: 3vw;
}
.callButtonContainer{
    width: 17vw;
    height: 17vw;
    background-color: #87d774;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 5px 1px green;
}



