.firstDiv{
    width: 100vw;
    height: 100vh;
    background-image: url("../../assetsDesktop/imagesDesk/DeskHomeFuirstDivBackGround.jpg");
    background-size: 100vw 100vh;
    background-right: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    width: 30vw;
    height: 30vw;
}
.container{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.productRow{
    width: 90vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.footerDesktop{
    width: 100vw;
    height: 30vh;
    background-color: red;
    background-image: url("../../assetsDesktop/imagesDesk/DesktopFooterBackground.jpg");
    background-size: 100vw 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footerSocialMenuDesktop{
    width: 10vw;
    height: 3vh;
    display: flex;
    justify-content: space-evenly;
    padding-right: var(--main-padding);
    padding-left: var(--main-padding);

}
.socialIconMenuDesktop{
    width: 3vw;
    height: 3vw;
}
.poweredByDesktop{
    width: 100vw;
    height: 5vh;
    background-color: black;
    position: relative;
    display: flex;
    bottom: 0;
    justify-content: center;
    align-items: center;
    border-top: black solid 2px;
}

.deskHome{
    overflow: hidden;
}

@media only screen and (max-width: 1200px) {
    .footerSocialMenuDesktop{
        width: 20vw;
        height: 6vh;
    }
    .socialIconMenuDesktop{
        width: 6vw;
        height: 6vw;
    }
}




