.firstDiv{
    width: 100vw;
    height: 100vh;
    background-image: url("../../assets/imagesDesk/DeskHomeFuirstDivBackGround.jpg");
    background-size: 100vw 100vh;
    background-right: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    width: 30vw;
    height: 30vw;
}
.contentContainer{
    width: 100vw;
    height: 100vh;
    background-color: red;
}

