body{
    background-color: #fff;
    font-family: Raleway;
}
.slideHolder{
    height: 100vw;
}
.slideHolder1{
  height: 61vh;  
}
.Slider{
    height: 350px;
    box-shadow: 2px 1px 10px 2px #8c8c8c;
}
.Slider1{
    height: 61vh;
    box-shadow: 2px 1px 10px 2px #8c8c8c;
}

.sliderImage{
    width: 100vw;
    height: 350px;
}
.sliderImage{
    width: 100vw;
    height: 350px;
}
.buquetImage{
  width: 56vw;
  height: 63vw;
    border-radius: 5px;
    z-index: 1;
    /* box-shadow: 1px 1px 5px  #8c8c8c; */
}
.productHolder{
    /* width:50% !important; */
    /* width:58vw !important; */
    /* height: calc(60vw + 2vh); */
    border-radius: 5px;
    z-index: 0;
    display: flex;
    display: flex;
    align-items: center !important;
    margin: 0px 7px;
    margin-bottom: 50px;
    height: 29vh;
}
.buquetNameText{
    padding: 0;
    margin: 0;
}
.buquetPriceText{
    padding: 0;
    margin: 0;
    color: #efc368;
    direction: rtl;
}
.titleOboveTheFloerSlider{
    padding-right: 5vw;
    font-weight: lighter;
}
.footerMobile{
    /* padding-top: 10vh ; */
    direction: rtr;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px
}
.companySmallTitle{
    color: #efc368;
}
.productSlider > .slick-list {
    margin-left: 3vw;
}
.callButtonContainer{
    width: 22vw;
    height: 22vw;
    background-color: #87d774;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:0px 0px 5px 18px rgba(135, 215, 116,0.4), inset 0px 0px 0px rgba(0, 0, 0, .2);
    -webkit-appearance: none;

    /* box-shadow: 1px 1px 4px 7px #87d774a1; */
}
.w-50pr {
  width: 50%
}
